# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

.venv
venv

server/agent/__pycache__
server/__pycache__
server/agent/memory/__pycache__
server/agent/agents/__pycache__
server/agent/nodes/__pycache__
server/api/__pycache__
server/infra/__pycache__
server/.env

/resources

server/agent/prompts/__pycache__